{{ define "main" }}
  <header class="page-heading">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}<div class="content">{{ . }}</div>{{ end }}
  </header>
  {{ $pages := .Pages }}
  {{ if eq .Section "" }}{{ $pages = where site.RegularPages "Section" "posts" }}{{ end }}
  {{ $paginator := .Paginate $pages.ByDate.Reverse }}
  {{ range $paginator.Pages }}
    {{ partial "post-summary.html" . }}
  {{ else }}
    <p>No posts found.</p>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}
