<section class="giscus-comments" aria-label="Comments">
  <div class="giscus"></div>
  <script src="https://giscus.app/client.js"
          data-repo="spaghettidba/spaghettidba.com"
          data-repo-id="R_kgDOU1ZQzw"
          data-category="General"
          data-category-id="DIC_kwDOU1ZQz84DGv7w"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async></script>
</section>
